﻿body {
	margin: 0;
	padding: 0;
	border: 0;
}
#container {
	padding: 0;
}
#masthead {
	width: auto;
	margin: 0;
	padding: 0;
	overflow: auto;
}

#mastheadlogo {
	width: auto;
	margin: 0;
	padding: 0;
	overflow: visible;
	float: left;
}
#navigation {
	width: auto;
	margin: 0;
	padding: 0;
	border: 0;
	clear: both;
}
#column_0 {
	
	float:left;
}
#column_l {
	float:left;

}
#column_r {
	float: right;
}
#footer {
	width: auto;
	clear: both;
	overflow: auto;
}
.float_right {
	float:right;
}