﻿@import url('layout.css');
body {
	color: #FFFFFF;
	font-size: small;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal; /*	background-color: #000000;*/;
	background-repeat: repeat;
	background-image: url('../images/tlo.png');
	background-color: #494949;
}
#container {
	width: 970px;
	margin: 0 auto;
	background-repeat: repeat-y;
}
#masthead {
	text-align: right;
	margin-right: 10px;
	margin-left: 10px;
	height: 119px; /*	margin-bottom: 10px;*/ /*	width: 950px;*/;
	background-color: #EE4400;
}
#mastheadlogo {
	text-align: right;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px; /*	width: 450px;*/;
	background-color: transparent;
}
#navigation {
	margin-right: 10px;
	margin-left: 10px;
	background-color: #616161;
	height: 40px;
	overflow: hidden;
	color: #FFFFFF;
}
#leftmenu {
	margin-right: 10px;
	background-color: #616161;
	overflow: hidden;
}

#leftmenu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#leftmenu li{
	float: left;
}

#leftmenu p{
	margin: 0;
	padding: 0;
	background-color:#EE4400;
	width:140px;
}

#leftmenu a{
	font-size: large;
	color: #000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle; /*	margin: 0 1px;*/;
	padding: 10px 10px 10px 10px;
	display: block; /*	border: 1px solid #d3d3d3;*/;
}

#leftmenu a:hover {
	background-color: #616161;
/*	border: 1px solid #f2f2f2;*/
}

#column_0 {
	max-width: 15%;
	margin: 0 0 0 0px;
	padding: 10px 10px 10px 10px;
}
#column_l {
	max-width: 70%;
	margin: 0 0 0 10px;
	padding: 10px 10px 10px 10px;
	height: auto;
}
#column_r {
	margin: 0;
	right: 10px;
	padding-right: 5px;
	padding-left: 5px;
}

#column_l img {
	margin: 10px 5px 10px 10px;
	border: medium #808080 ridge;
}

#column_r img {
	margin: 10px 5px 10px 10px;
	border: medium #808080 ridge;
}
#footer {
	text-align: center;
	background-color: #666666;
	overflow: hidden;
	width: 970px;
	margin: 0 auto;
}
/* Styles for Masthead */
#masthead img {
	float: left;
}
#masthead p {
	color: #000;
	font-size: x-small;
	text-align: right;
	margin: 10px 10px 0 10px;
}
#mastheadlogo img {
	border-style: none;
}
/* Styles for Navigation */
#navigation ul {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation li {
	float: left;
}
#navigation a {
	font-size: large;
	color: #000;
	text-decoration: none;
	text-align: center;
	vertical-align: middle; /*	margin: 0 1px;*/;
	padding: 10px 10px 10px 10px;
	display: block; /*	border: 1px solid #d3d3d3;*/;
	background-color: #EE4400;
}
#navigation a:hover {
	background-color: #616161;
/*	border: 1px solid #f2f2f2;*/
}
/* Styles for Content */
h1 {
	color: #EE4400;
	font-size: 2.0em;
}
h2 {
	color: #EE4400;
	font-size: 1.75em;
}
h3 {
	color: #EE4400;
	font-size: 1.5em;
}
h4 {
	color: #EE4400;
	font-size: 1.25em;
}
h5 {
	color: #EE4400;
	font-size: 0.75em;
}
h6 {
	color: #EE4400;
	font-size: 0.5em;
}
big {
	color: #EE4400;
	font-size: medium;
}
#column_r p {
	font-size: x-small;
	text-align: left;
	margin: 0;
	padding: 5px;
}
#column_r h4 {
	margin-bottom: 0;
}
#column_r ul {
	margin-left: 5px;
	padding-top: 0;
	padding-left: 10px;
}
#column_r ul li {
	font-size: x-small;
	display: list-item;
	list-style-position: outside;
}
/* Styles for Footer */
#footer p {
	color: #fff;
	font-size: x-small;
	margin-top: 2px;
	margin-bottom: 6px;
}
#footer a {
	color: #fff;
	text-decoration: underline;
}
#footer a:hover {
	color: #000;
	text-decoration: none;
}
/* Styles for Links */
a {
	color: #456;
	text-decoration: underline;
}
a:hover {
	color: #965;
	text-decoration: underline;
}
.style_bold {
	font-weight: bold;
}
.style_italic {
	font-style: italic;
}
